<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Hi, Reinier hier.</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Reinier Ladan</li><li><a class="u-email" href="mailto:reinier@ladan.email">reinier@ladan.email</a></li><li>06 2487 2725</li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/reinier"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">reinier</span></a></li><li><a href="https://www.twitter.com/reinier"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">reinier</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Misschien handig: een paar <a href="/hoe-te-volgen">manieren om op de hoogte te blijven</a>.</p>
      </div>
    </div>

  </div>

</footer>
