<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Meer om je op weg te helpen</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/contact">Neem contact op</a></li>
          <li><a href="/links">Links</a></li>
          <li><a href="/emailbeleid">Mijn e-mailbeleid</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        &nbsp;
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="/hoe-te-volgen">Ontvang updates</a></li>
          <li><a href="/overzicht">Website overzicht</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
