<form
  action="https://buttondown.email/api/emails/embed-subscribe/82procent"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/82procent', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <h4><label for="bd-email">Je e-mailadres is voldoende om je gratis te abonneren.</label></h4>
  <input type="email" placeholder="Je e-mailadres" name="email" id="bd-email">
  <input type="hidden" value="1" name="embed"/><br>
  <input type="submit" id="bd-submit" value="Abonneer gratis" />
</form>
