@font-face {
    font-family: 'Public Sans webfont';
    src: url('./fonts/PublicSans-Regular.woff2') format('woff2'),
         url('./fonts/PublicSans-Regular.woff') format('woff'),
         url('./fonts/PublicSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans webfont';
    src: url('./fonts/PublicSans-Bold.woff2') format('woff2'),
         url('./fonts/PublicSans-Bold.woff') format('woff'),
         url('./fonts/PublicSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans webfont';
    src: url('./fonts/PublicSans-Italic.woff2') format('woff2'),
         url('./fonts/PublicSans-Italic.woff') format('woff'),
         url('./fonts/PublicSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

// https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429

$rl-theme-color-1: #2B2D42;
$rl-theme-color-2: #D90429;
$rl-theme-color-3: #EDF2F4;
$rl-theme-color-4: #EF233C;
$rl-theme-color-5: #8D99AE;
$grey-color:       #656565;

body {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "kern";
	font-feature-settings: "kern";
	font-kerning: normal;
  background: #fff url("/assets/bg-reinierladan-white.svg") no-repeat center -230px / 1440px 588px;
}

body.page-home {
  background: #fff url("/assets/bg-reinierladan-white.svg") no-repeat center -130px / 1440px 588px;
}

iframe {
  border: 0;
}

p {
  margin-bottom: 1.2em;
}

a {
  text-decoration: underline;
  color: $rl-theme-color-2;

  &:visited,
  &:hover {
    color: $rl-theme-color-2;
  }
}

.site-header {
  // background-color: $rl-theme-color-1;
  padding-top: 3.5em;
  // padding-bottom: 2em;
  margin-bottom: 5.5em;
  border-bottom: 0;
  // border-top: 10px solid $rl-theme-color-5;
  border-top: 0;

  .wrapper {
    text-align: center;

    a.site-title {
      float: none;
      font-weight: 700;
      text-decoration: none;
      background: -webkit-linear-gradient($rl-theme-color-4, $rl-theme-color-2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  a,
  .site-title,
  .site-title:visited {
    color: $rl-theme-color-4;
  }
}

.page-home {
  .site-header {

    padding-top: 6em;
    padding-bottom: 2em;

  }

  h1 {
    // Visually hidden from view
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2em;
}

h1.post-title {
  line-height: 1.2em;
  letter-spacing: -2px;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}

blockquote {
  letter-spacing: 0;
}

ul li {
  margin-bottom: 0.5em;
}

.blog-posts {
  margin-top: 3em;
  border-top: 1px solid #eee;
  padding-top: 3em;
}

.post-content {
  border-bottom: 5px solid $rl-theme-color-3;
  border-radius: 5px;
  padding-bottom: 3em;
  margin-bottom: 4em;
}

.page .post-content {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.profile-pic {
  margin: 1em 0;
  // text-align: center;

  img {
    border: 2px solid $rl-theme-color-1;
  }
}

nav.site-nav {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  float: none;
  line-height: normal;
  padding: 10px 20px;
  font-size: 0.80em;

  // a.page-link {
  //   font-weight: normal;
  //   text-decoration: underline;
  // }
}

.intro {
  font-size: 1.2em;
  margin-bottom: 2em;
  line-height: 1.4em;
}

footer.site-footer {
  margin-top: 5em;
}

.blog {
  margin-top: 2em;
}

a.blog-item {
  text-decoration: none;
  margin-bottom: 3em;
  display: block;
  color: $text-color;

  h2 {
    text-decoration: underline;
    margin: 0.3em 0;
    color: $rl-theme-color-2;
  }

  p {
    color: $grey-color;
  }
}

.pagination {
  text-align: center;
  position: relative;
  font-size: 2em;

  .right.arrow {
    position: absolute;
    right: 0;
  }

  .left.arrow {
    position: absolute;
    left: 0;
  }
}

.highlight {
  margin-bottom: 1em;
  border: 3px solid $rl-theme-color-5;
  background-color: $rl-theme-color-3;
  padding: 1em;
  border-radius: 3px;

  h2, h3, h4 {
    padding: 0;
    margin: 0;
  }

  p:last-child, ul:last-child {
    margin-bottom: 0;
  }

  li {
    margin: 0.5em 0;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

// Buttondown subscription form

.embeddable-buttondown-form {
  margin-bottom: 1em;
  border: 3px solid $rl-theme-color-5;
  background-color: $rl-theme-color-3;
  padding: 1em;
  border-radius: 3px;
}

#bd-email {
  font-size: 1.2em;
  padding: 0.3em;
  width: 90%;
  max-width: 20em;
  margin-bottom: 0.5em;
}

#bd-submit {
  font-size: 1.2em;
  padding: 0.3em;
}

// Video embed

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 1em;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.doe-een-gift {
  margin-bottom: 3em;
}

.schenk-kop-koffie,
.call-to-action {
  background-color: $rl-theme-color-1;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 3px;
  text-decoration: none;

  &:hover, &:visited  {
    text-decoration: none;
    color: #fff;
  }
}

.call-to-action.secundary,
.schenk-kop-koffie.secundary {
  border: 2px solid $rl-theme-color-1;
  background-color: #fff;
  color: $rl-theme-color-4;
}

hr.divider {
  margin: 4em 0;
  border: 5px solid $rl-theme-color-3;
  border-radius: 5px;
}

.linkedin-rl {
  padding: 1em;
  background-color: $rl-theme-color-3;
  line-height: 1.35em;
  border-radius: 10px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.linkedin-rl .svg-icon {
  margin-top: 5px;
  margin-right: 5px;
  fill: $rl-theme-color-1;
}

.opdrachtgevers a {
  text-decoration: none;
  color: $rl-theme-color-1;

  &:visited {
    color: $rl-theme-color-1;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    color: $rl-theme-color-2;
  }
}

.reinier-profile-pic {
  text-align: center;
  margin-bottom: 1.5em;
  img.img-circle {
    border-radius: 50%;
  }
}

.page-english .post-header {
  text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.remark-about-english-page {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 50%;
  font-size: 0.8em;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  float: none;
  line-height: normal;

  a {
    color: $rl-theme-color-1;
  }
}

.client-logos {
    padding-top: 1em;
    background-color: #efefef;
    border-radius: 18px;
}

.client-logos p {

  text-align: center;

  img {
    margin: 0 0.5em 1em 0.5em;
  }
}
