.availability {
  padding: 4em 2em;

  h3 {
    text-align: center;
  }

  p {
    font-size: 1.1em;
  }
}

.availability p {
  margin: 0;
  text-align: center;
}

.availability a {
  white-space: nowrap;
}
