.availability {
  padding: 5em 2.5em;

  @include desktop {
    padding: 8em 8em;
  }

  h3 {
    text-align: center;
  }

  p {
    font-size: 1.1em;
  }
}

.availability p {
  margin: 0;
  text-align: center;
}

.availability a {
  white-space: nowrap;
}
