.clients-and-cases {
  text-align: center;
}

.cases {
  width: 100%;
  padding: 0 1em 1em 0;
}

.cases p {
  margin: 0;

  &.cases-links {
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
}

.cases a {
  display: inline-block;
  padding: 0.4em 1em;
  margin-left: 1em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
  background-color: #D2004B;
  color: #fff;
  border-radius: 2px;
  @include transition(all 0.3s ease-in-out);

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

p.cases-info {
  margin-bottom: 0.5em;
}
