@import url(http://fonts.googleapis.com/css?family=Raleway:300,700,900);

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;

  @include bigass {
    font-size: 1.3em;
  }
}

a {
  color: #005BFC;
}

h1 {
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  margin: 0.5em 0;

  @include desktop {
    margin: 0;
    text-align: left;
  }
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h2 {
  text-align: center;
  margin-bottom: 1.5em;

  @include desktop {
    font-size: 1.3em;
    margin: 0 0 0.5em 0;
    text-align: left;
  }
}

h3, h4 {
  margin-top: 0;
}

p {
  margin: 0 0 1em 0;
}

img {
  max-width: 100%;
}

nav {
  padding: 3em 0 0;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;

  @include desktop {
    padding-bottom: 3em;
  }
}

.source {
  font-size: 0.85em;
  color: #555;

  a {
    color: #333;
  }
}
