#mc_embed_signup {
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  max-width: 500px; }

.indicates-required {
  margin-bottom: 1em; }

#mce-success-response {
  color: green;
  font-weight: bold;
  margin-bottom: 1em; }

#mc_embed_signup label {
  display: block;
}

#mc_embed_signup input[type="text"],
#mc_embed_signup input[type="email"] {
  margin-bottom: 1em;
  width: 90%;
  background-color: #fbfbfb;
  padding: 0.3em;
  font-size: 1.1em;
}

#mc-embedded-subscribe {
  padding: 0.3em;
  font-size: 1.5em;
}
