.page-part,
footer,
section[role="main"] {
  max-width: $page-width;
  margin: 0 auto;

  @include bigass {
    max-width: $page-width-bigass;
  }
}

section[role="main"] {
  padding: 1em 1em 5em;
}

.page-part, footer {
  padding: 3em 1em;

  @include desktop {
    padding: 3em 0;
  }

  @include bigass {
    padding: 6em 0;
  }
}

.infocard-wrap {
  color: #fff;
  @include linear-gradient(to top, #E60042, #560800);

  a {
    color: #ff7;
  }
}

.presentation-wrap {
  background-color: #444;
  color: #fff;

  a {
    color: #fff;
  }
}

.stuff-about-me-wrap,
.stuff-i-believe-in-wrap {
  background-color: #198492;
  color: #B0F0F1;

  a {
    color: #F1FFDB;
  }

  @include desktop {
    .page-part {
      background-color: rgba(255,255,255,0.1);
    }
  }
}

.footer-wrap {
  background-color: #eaeaea;

  color: #000;

  a {
    color: #003AB4;
  }
}
