@import "bourbon";

@import "variables";
@import "mixins";

@import "defaults";

@import "structure";

@import "intro";
@import "cases";
@import "stuff-about-me";
@import "availability";
@import "presentation";
@import "stuff-i-believe-in";
@import "footerAndNotes";

@import "scrumscore";
@import "newsletter";
@import "projects";
@import "item-page";
@import "spreker";

.change-lang {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  font-size: 0.75em;

  a {
    color: #fff;
  }
}

.back-to-frontpage {
  padding: 2em 0;
}

.page-process {
  padding-top: 0;
}
