{% extends '../layouts/_project.html' %}

{% block content %}
  <h2 id="project-adformatie">Project: Adformatie</h2>
  <picture role="banner">
    <img src="../assets/images/adformatie-banner.jpg" alt="Adformatie website">
  </picture>
  
  <p><img src="../assets/images/adformatie-mobile.jpg" alt="Adformatie responsive design"></p>


  <p>De nieuwe Adformatiewebsite is het resultaat van een samensmelting van diverse titels: Adformatie, Marketing Online en Communicatie. De behoefte bij de Adformatie groep bestond om de titels binnen hetzelfde systeem te laten werken en ieder eenzelfde soort site te geven waarbij wel ruimte zou zijn voor een eigen identiteit. Het uiteindelijke resultaat is dat de drie titels hun eigen branding hebben gehouden maar met dezelfde templates werken.</p>
  <p>Daarnaast is de stap gezet om de website volledig responsive te maken. Er zijn nieuwe templates voor de homepage gemaakt, voor artikelen en informatie over de auteurs heeft een belangrijke plek gekregen binnen het geheel.</p>
  <p>Ik was verantwoordelijk voor het interactie-ontwerp. Het grafisch ontwerp is verzorgd door <a href="http://rubenvannimwegen.prosite.com">Ruben van Nimwegen</a>. Adformatie heeft er zelf het volgende over geschreven: <a href="http://www.adformatie.nl/nieuws/adformatienl-vernieuwd">Adformatie.nl vernieuwd</a></p>
  <p>Bekijk de websites: <a href="http://adformatie.nl">Adformatie.nl</a>, <a href="http://www.marketingonline.nl">Marketing Online</a>, <a href="http://www.communicatieonline.nl">Communicatie Online</a></p>


  <p><img src="../assets/images/adformatie-item1.jpg" alt="Adformatie voorbeeld 1">
  <img src="../assets/images/adformatie-item2.jpg" alt="Adformatie voorbeeld 2">
  <img src="../assets/images/adformatie-item3.jpg" alt="Adformatie voorbeeld 3"></p>

{% endblock %}
