{% extends '../layouts/_project.html' %}

{% block url %}fox-sports-website.html{% endblock %}

{% block content %}
  <h2 id="project-fox-sports-nederland-">Project: FOX Sports (Nederland)</h2>
  <picture role="banner">
    <img src="../assets/images/fox-sports-banner.jpg" alt="Fox Sports Website">
  </picture>


  <p>FOX Sports is de nieuwe naam voor een project waar ik eerder aan heb gewerkt, Eredivisie Live. Het feit dat er een rebranding nodig was werd aangegrepen om de website op de schop te gooien en compleet responsive te maken. In een later stadum zijn er meer sporten aan de website toegevoegd zoals tennis en american football. Het project is een doorlopend proces van verbeteringen en toevoegingen, er wordt gebruikt gemaakt van de <a href="http://nl.wikipedia.org/wiki/Scrum_(softwareontwikkelmethode">scrum methode</a>).</p>
  <p>Als freelancer bij de Infostrada Sports Group was ik verantwoordelijk voor het interactie-ontwerp binnen een compleet scrumteam en ben ik een tijd verantwoordelijk geweest voor de user stories en het backlog als interim product owner.</p>
  <p>Bekijk de website: <a href="http://foxsports.nl">foxsports.nl</a></p>
  <p><img src="../assets/images/fox-item1.jpg" alt="FOX Sports voorbeeld 1">
  <img src="../assets/images/fox-item2.jpg" alt="FOX Sports voorbeeld 2">
  <img src="../assets/images/fox-item3.jpg" alt="FOX Sports voorbeeld 3"></p>
{% endblock %}
