{% extends '../layouts/_project.html' %}

{% block url %}nos-app.html{% endblock %}

{% block content %}

  <h2 id="project-nos-apps">Project: NOS Apps</h2>
  <picture role="banner">
    <img src="../assets/images/nos-app-banner.jpg" alt="NOS App">
  </picture>
  <p>Met de NOS app is de eerste goede stap gezet om het NOS nieuws volledig native naar iOS, Android en Windows Phone te brengen. Tijdens het ontwerpproces is er gezocht naar een eigen ontwerptaal die hetzelfde gevoel moet overbrengen door alle platformen heen zonder dat de unieke eigenschappen van de systemen overboord hoeven te worden gegooid.</p>
  <p>Er zitten een aantal unieke features in de app die je niet snel tegenkomt in andere apps en die de gebruikservaring ten goede komen. Dit is Apple ook opgevallen en heeft de app twee jaar achter elkaar (2012 en 2013) uitgekozen als enige Nederlandse app in het jaarlijkse rijtje "app juwelen". Apple had het volgende erover te melden: "Door de innovatieve interface en het slanke design is NOS ideaal om op de hoogte te blijven."</p>
  <p>Ik was verantwoordelijk voor het interactie-ontwerp. Het grafisch ontwerp is verzorgd door <a href="http://www.stylishmedia.com">Stylishmedia</a>. Dit schreef de NOS er zelf over:</p>
  <ul>
  <li><a href="http://weblogs.nos.nl/nieuwemedia/2012/04/26/nos-apps-iphone-en-windows-7/">Nieuwe NOS apps: iPhone en Windows Phone 7</a></li>
  <li><a href="http://weblogs.nos.nl/nieuwemedia/2012/08/02/nos-android-app-live/">NOS Android app Live</a></li>
  </ul>
  <p>Download de app voor: <a href="https://itunes.apple.com/nl/app/nos/id516491461?mt=8">iPhone / iPad</a>, <a href="http://app.lk/nosapp">Android</a>, <a href="http://app.lk/nosapp">Windows Phone</a></p>
  <p><img src="../assets/images/nos-app-item1.jpg" alt="Voorbeeld NOS app 1">
  <img src="../assets/images/nos-app-item2.jpg" alt="Voorbeeld NOS app 2">
  <img src="../assets/images/nos-app-item3.jpg" alt="Voorbeeld NOS app 3"></p>

{% endblock %}
