{% extends '../layouts/_project.html' %}

{% block content %}
  <h2 id="npo-nederlandse-publieke-omroep-">NPO (Nederlandse Publieke Omroep)</h2>
  <picture role="banner">
    <img src="../assets/images/npo-banner.jpg" alt="NPO Website">
  </picture>

  <p>Bij NPO is een herpositionering gaande waarbij steeds meer onderdelen van de instelling onder de naam "NPO" worden gebracht, daar is deze website een voorbeeld van. De nieuwe site geeft de bezoeker ook de mogelijkheid om live Nederland 1, 2 en 3 te kijken via de website.</p><p></p>
  <p>De website is volledig responsive uitgevoerd, bevat een rijke video ervaring en heeft diverse TV, Radio en Uitzending Gemist onderdelen verenigd.</p>
  <p>Ik was verantwoordelijk voor het interactie-ontwerp. Het grafisch ontwerp is verzorgd door <a href="http://madebyhiro.com">Made by Hiro</a>.</p>
  <p>Bekijk de website: <a href="http://npo.nl">NPO.nl</a></p>
  <p><img src="../assets/images/npo-item1.jpg" alt="NPO Voorbeeld 1">
  <img src="../assets/images/npo-item2.jpg" alt="NPO Voorbeeld 2">
  <img src="../assets/images/npo-item3.jpg" alt="NPO Voorbeeld 3"></p>
{% endblock %}
