---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <hr class="divider">

  <h2>Laatste drie blogposts</h2>

  <div class="blog">
    {% for post in paginator.posts limit:3 %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="blog-item">
        <div>
          <time datetime="{{ post.date }}" class="blog-time">{{ post.date | dutchDate }}</time>
          <h2 class="blog-title">{% if post.categories contains 'nieuwsbrief' %}<span class="category-newsletter">82% </span>{% endif %}{{ post.title }}</h2>
          <p>
            <!-- {{ post.excerpt }} -->
            {{ post.content | strip_html | truncatewords: 40 }}
          </p>

        </div>
      </a>
    {% endfor %}
  </div>

  <p><a href="/blog">Compleet weblog →</a></p>

</div>
