---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{% if page.categories contains 'nieuwsbrief' %}<span class="category-newsletter">82% </span>{% endif %}{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format | dutchDate }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="doe-een-gift">
    <p>Ben je een stukje wijzer door deze post? Je kunt me ondersteunen door me een kopje koffie te geven.</p>
    <p><a href="https://bunq.me/reinierladan/3" class="schenk-kop-koffie">☕️ &nbsp;&nbsp;Geef me een kopje koffie &nbsp;&nbsp;➞</a></p>
  </div>

  <p>Hi, ik ben <a href="/">Reinier Ladan</a> en ik heb deze post geschreven. In het dagelijkse leven ben ik <a href="/freelance">freelance ontwerper en product owner van digitale zaken</a>.</p>

  <p>Wekelijks schrijf ik <a href="/82procent-nieuwsbrief">de 82% nieuwsbrief</a> over technologie, design, cultuur, geschiedenis, media, films, muziek, van alles dus eigenlijk. Abonneren is gratis. Sluit je aan bij de meer dan 1.000 abonnees.</p>

  {% include newsletter-subscribe.html %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
