{% extends 'layouts/_item.html' %}

{% block url %}/frontenddeveloper.html{% endblock %}

{% block content %}

<h2 id="over-reinier-ladan">Reinier Ladan de front-end developer</h2>
<p>Naast interaction designer ben ik ook front-end developer. Dit is bijvoorbeeld handig in scrumprojecten omdat ik kan meedraaien met ontwerp én techniek. Daarnaast ben ik ook in te zetten als dedicated front-end developer zonder dat ik ook maar één pixel hoef te ontwerpen. Die dingen kan ik prima gescheiden houden.</p>
<p>Check mijn Github profiel voor voorbeelden van mijn front-end werk:</p>
<p class="nav-list"><a title="GitHub reinier" class="st-icon-github" href="https://github.com/reinier"><span></span>Github Reinier Ladan</a></p>
<hr>
<p>Een paar richtlijnen qua front-end werkzaamheden:</p>
<ul>
  <li>Ik werk het liefst met plain HTML5, maar iets als <a href="http://haml.info">HAML</a> is ook geen probleem (al zorgt <a href="http://docs.emmet.io">Emmet</a> ervoor dat ik 'normale' HTML ook vrij snel kan typen).</li>
  <li>Ik werk het liefst met <a href="http://sass-lang.com">SASS</a>, maar <a href="http://lesscss.org">LESS</a> of plain-old CSS is ook geen probleem.</li>
  <li>Ik werk het liefst met <a href="http://underscorejs.org">Underscore.js</a>, <a href="http://requirejs.org">RequireJS</a>, <a href="http://backbonejs.org">Backbone</a>/<a href="http://marionettejs.com">Marionette</a> en/of <a href="http://jquery.com">jQuery</a> of  als het om JavaScript gaat, maar plain JavaScript behoort ook tot de mogelijkheden.</li>
  <li>Ik werk het liefst op mijn eigen apparatuur (<a href="http://www.apple.com/macbook-pro/">MacBook Pro</a>) en met <a href="http://www.sublimetext.com/3">Sublime Text 3</a> en command line tools zoals Git en Grunt/Gulp maar bij hoge uitzondering kan ik ook op door de klant verzorgde apparatuur werken (waarschijnlijk ivm een speciaal systeem dat voor het werk nodig is). Graag van tevoren overleg indien dit nodig is.</li>
  <li>Ik zorg ervoor dat wat ik maak werkt op de laatste twee versies van de grote browsers (Internet Explorer, Chrome, Safari en Firefox). Over ondersteuning voor andere browsers en versies kan uiteraard gepraat worden.</li>
  <li>Ik zorg ervoor dat <em>prototypes</em> werken in Chrome en/of Safari. Meer browserondersteuning voor een prototype haalt het nut van een prototype onderuit. De ondersteuning voor Chrome/Safari zorgt ervoor dat op de meeste platformen de mogelijkheid bestaat het prototype te bekijken.</li>
  <li>Ik heb ervaring met de volgende backend frameworks en CMS'en: Laravel, Wordpress, Movable Type, Scala, Ruby on Rails, Silex, CodeIgniter, CakePHP en Symphony — mijn ervaring leert dat ik het verwerken van front-end code snel oppak in een willekeurig framework en verschillende template engines.</li>
</ul>
<hr>
<p>Mocht ik nou helemaal vol zitten met werk, kan gebeuren, dan kun je ook terecht bij:</p>
<ul>
  <li><a href="http://petervangrieken.nl">Peter van Grieken</a></li>
  <li><a href="http://wietsehage.nl">Wietse Hage</a></li>
  <li><a href="http://www.imakewebsites.nl">Charis Rooda</a></li>
  <li><a href="http://hiddedevries.nl">Hidde de Vries</a></li>
  <li><a href="http://www.ebrella.com">Jeroen Hulscher / eBrella</a></li>
</ul>

{% endblock %}
