{% extends 'layouts/_master-en.html' %}

{% block content %}

  <div class="part-wrap infocard-wrap">
    <section class="infocard page-part">
      <picture>
        <img src="assets/images/reinier-profiel-compressed.jpg" alt="Profielfoto Reinier Ladan" width="150" height="150">
      </picture>
      <h1>Reinier Ladan</h1>
      <h2>Independent interaction designer <span>and tech thinker.</span></h2>
      <div class="intro">
        <p>I design and improve websites and apps since 1999. I run a popular Dutch podcast and I like to tinker with technology.</p>
        <p>You can mail me at <a href="mailto:reinier@digitalenergy.nl">reinier@digitalenergy.nl</a> or skype me at <a href="skype:reinierl">reinierl</a>.</p>
        <p id="change-lang-nl" class="change-lang"><a href="index.html">Ga naar Nederlandse versie</a></p>
      </div>
    </section>
  </div>

  <div class="part-wrap clients-and-cases-wrap">
    <section class="clients-and-cases page-part">

      <h3>Some of my clients</h3>
      <!-- Foto van opdrachtgeverlogo's & opdrachtscreenshots -->
      <p><img src="assets/images/logos-clients.png" alt="Een greep uit mijn opdrachtgevers"></p>

    </section>
  </div>

  <div class="part-wrap stuff-about-me-wrap">
    <section class="stuff-about-me page-part">

      <h3>Stuff by and about me</h3>
      <ul>
        <li><a href="http://sinds82.nl/over-sinds82-en-reinier-ladan/">About Reinier Ladan</a> (Dutch)</li>
        <li><a href="werkwijze.html">Mijn werkzaamheden &amp; werkwijze</a> (Dutch)</li>
        <li><a href="scrumskills.html">Inzetbaarheid in een scrumproject</a> (Dutch)</li>
        <li><a href="http://sinds82.nl/2015/02/23/luister-vooral-niet-naar-je-gebruikers/">Gebruikers: luister niet naar ze maar observeer ze</a> (Dutch)</li>
        <li class="participation">I take part in:<br/><a href="http://restacks.com">re:stacks</a>, <a href="http://appelsenperenshow.nl">Appels en Peren Show</a>, <a href="https://assembly.com/groupletter">Groupletter</a></li>
        <li class="socials">This is me on the internet:<br/><a href="http://sinds82.nl">Sinds '82</a>, <a href="https://twitter.com/reinier">Twitter</a>, <a href="http://nl.linkedin.com/in/reinierladan/">LinkedIn</a>, <!-- <a href="https://github.com/reinier">Github</a>,  --><a href="http://dribbble.com/reinier">Dribbble</a></li>
      </ul>
    </section>
  </div>

  <div class="part-wrap presentation-wrap">
    <section class="page-part presentation">
      <h3>Presentation about lifelong learning (Dutch)</h3>
      <div class="videoWrapper">
        <iframe src="about:blank" data-src="//player.vimeo.com/video/109780389?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" onload=lzld(this) allowfullscreen></iframe>
      </div>
      <p><a href="spreker.html">I speak on events</a> (Dutch)</p>
    </section>
  </div>

  <div class="part-wrap footer-wrap">
    <footer>
      <div class="call-to-action">
        <p>
          <strong>Want to know more?</strong>
        </p>
        <p>You can mail me at <a href="mailto:reinier@digitalenergy.nl">reinier@digitalenergy.nl</a> or skype me at <a href="skype:reinierl">reinierl</a>.</p>
      </div>
      <p>
        The company name under which I do freelance business is Digital Energy BV. I work and live just a couple miles north of Amsterdam, The Netherlands. I also work remotely, no problem.
      </p>
      <p>
        Stuff about Digital Energy BV:<br>VAT number: 811020496B01, Chambre of Commerce: 24310329, IBAN: NL65 RABO 0350 2670 49 EUR
      </p>
      <p><strong>Want to view the source of this website?</strong> Check Github: <a href="https://github.com/reinier/reinierladan-website">reinierladan-website repository</a>.
    </footer>
  </div>


{% endblock %}
