{% extends 'layouts/_item.html' %}

{% block url %}/nieuwsbrief.html{% endblock %}

{% block content %}
  <h2>Blijf op de hoogte van mijn beschikbaarheid</h2>
  <p>Wil je op de hoogte blijven van mijn beschikbaarheid als freelancer? Schrijf je dan in voor deze nieuwsbrief. Ik zal een paar keer per jaar mijn status rondmailen.</p>

  <!--Start mc_embed_signup-->
  <div id="mc_embed_signup">
  <form action="http://sinds82.us2.list-manage.com/subscribe/post?u=96e984f280ffec044e16ce0f7&amp;id=e29ca9cc3a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
  <div class="mc-field-group">
    <label for="mce-EMAIL">Email-adres  <span class="asterisk">*</span></label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  </div>
  <div class="mc-field-group">
    <label for="mce-FNAME">Voornaam  <span class="asterisk">*</span></label>
    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
  </div>
  <div class="mc-field-group">
    <label for="mce-LNAME">Achternaam  <span class="asterisk">*</span></label>
    <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
  </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_96e984f280ffec044e16ce0f7_e29ca9cc3a" value=""></div>
    <div class="indicates-required"><span class="asterisk">*</span> alle velden zijn verplicht zodat ik je in de e-mail netjes kan aanspreken.</div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
  </div>
  <!--End mc_embed_signup-->
{% endblock %}
