{% extends 'layouts/_item.html' %}

{% block content %}
  <p><img src="/assets/images/promofotos/reinier-ladan-presenteren-3.jpg"></p>
  <p><img src="/assets/images/promofotos/reinier-ladan-presenteren-4.jpg"></p>
  <p><img src="/assets/images/promofotos/reinier-ladan-presenteren-1.jpg"></p>
  <p><img src="/assets/images/promofotos/reinier-ladan-presenteren-2.jpg"></p>

  <p><img src="/assets/images/promofotos/live-met-peren-1.jpg"></p>
  <p><img src="/assets/images/promofotos/live-met-peren-2.jpg"></p>
  <p><img src="/assets/images/promofotos/live-met-peren-3.jpg"></p>

  <p><img src="/assets/images/promofotos/reinier-ladan-profiel-1.jpg"></p>
  <p><img src="/assets/images/promofotos/reinier-ladan-profiel-2.jpg"></p>
  <p><img src="/assets/images/promofotos/reinier-ladan-profiel-3.jpg"></p>
  <p><img src="/assets/images/promofotos/reinier-ladan-profiel-4.jpg"></p>
  <p><img src="/assets/images/promofotos/reinier-ladan-profiel-5.jpg"></p>
{% endblock %}
