{% extends 'layouts/_item.html' %}

{% block content %}
  <div class="scrumcard">
    <ul>
      <li><h3>Interaction designer <span>✭✭✭✭✭✭✭✭✭✩</span></h3><p>Meer dan 10.000 uur professionele ervaring<br>Bachelor of Communication and Multimedia Design (HR)</p></li>
      <li><h3>Visual designer <span>✭✭✭✭✭✭✭✩✩✩</span></h3><p>Af en aan sinds 1997</p></li>
      <li><h3>Front-end developer <span>✭✭✭✭✭✭✭✭✩✩</span></h3><p>Meer dan 10.000 uur professionele ervaring</p></li>
      <li><h3>Backend developer <span>✭✭✭✭✭✭✩✩✩✩</span></h3><p>4 jaar relevante werkervaring, full-time</p></li>
      <li><h3>Tester<span>✭✭✩✩✩✩✩✩✩✩</span></h3><p>Geen professionele ervaring</p></li>
      <li><h3>Pokeren <span>✭✭✭✭✭✭✭✩✩✩</span></h3><p>Meer potjes gewonnen dan verloren</p></li>
    </ul>
  </div>
{% endblock %}
