{% extends 'layouts/_item.html' %}

{% block url %}/spreker.html{% endblock %}

{% block content %}

<h2 id="over-reinier-ladan">Reinier Ladan de spreker</h2>
<p>
  <img src="assets/images/promofotos/reinier-ladan-presenteren-4.jpg" alt="Reinier Ladan aan het presenteren">
</p>
<p>Ik praat graag over mijn werk en alles wat me verder interesseerd. Zo vind ik het leuk om te vertellen over mijn autodidactische levenswijze, het bij elkaar brengen van designers en developers en technologische vooruitgang.</p>
<p>Op regelmatige basis spreek ik met Wietse Hage over technologie, media en cultuur in de <a href="http://appelsenperenshow.nl">Appels en Peren Show</a>.</p>
<p>Wil je dat ik kom spreken op een event? Neem contact op en we spreken de mogelijkheden door.</p>
<p>Mailen kan op <a href="mailto:hallo@reinierladan.nl">hallo@reinierladan.nl</a> en bellen op <span class="telephone">06 2487 2725</span>.</p>

<hr>

<section class="spreker-chunk">
  <h3>Presentatie over een leven lang leren</h3>
  <div class="videoWrapper">
    <iframe src="//player.vimeo.com/video/109780389?title=0&amp;byline=0&amp;portrait=0" data-src="//player.vimeo.com/video/109780389?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" allowfullscreen=""></iframe>
  </div>
</section>

<section class="spreker-chunk">
  <h3>Live met Peren</h3>
  <div class="videoWrapper">
    <iframe src="//player.vimeo.com/video/84664089?color=ceff0a" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>

<section class="spreker-chunk">
  <h3>Apple (Watch) Keynote bij OMT Live</h3>
  <div class="videoWrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BJ2WpCFfz3Y?start=1809&amp;rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="spreker-chunk">
  <h3>Slides van presentatie 'Become a Designer/Developer Hybrid'</h3>
  <div class="videoWrapper">
    <iframe src="//www.slideshare.net/slideshow/embed_code/8412892" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/reinierladan/become-a-designerdeveloper-hybrid" title="Become a designer/developer Hybrid @ Devhaag june 24th, 2011" target="_blank">Become a designer/developer Hybrid @ Devhaag june 24th, 2011</a> </strong> from <strong><a href="//www.slideshare.net/reinierladan" target="_blank">Reinier Ladan</a></strong> </div>
  </div>
</section>

<section class="spreker-chunk">
  <h3>Interview met Reinier Ladan bij Fast Moving Targets</h3>
  <div class="videoWrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gscf93Y6ehE" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="spreker-chunk">
  <h3>Duiding door Reinier Ladan en Johan Voets bij Apple Keynote</h3>
  <div class="videoWrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MVB-b3sg3aA" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

{% endblock %}
