{% extends 'layouts/_item.html' %}

{% block content %}
  <h2>Mijn werkwijze</h2>
  <p>Mijn ideale proces is er een waarbij een agile development proces wordt gehanteerd naast een gedegen ontwerpproces. Dit combineerd het beste uit de <em>agile</em> en <em>design think</em> wereld en zorgt voor een praktische development flow en een bruikbaar coherent ontwerp.
  <p><img src="/assets/images/design-flow.png"><br><span class="source">Bron: <a href="http://lithespeed.com/lean-ux-dont-part-1-3-2/">What does Lean UX have that I don’t?</a></span></p>
  <p>Ik heb ervaring met het ontwerpen van websites en webapps en het ontwerpen van native apps voor Mac, iOS, Android en Windows 8 en diverse televisie systemen. Daarnaast heb ik ervaring met diverse projectmethoden zoals scrum, agile, waterval en 'design in the browser'.</p>
  <p>Niet elk project pak ik alleen op. Ik werk graag samen met andere ontwerpers die dezelfde methodes en filosofie hanteren als ik. Dit zijn de zaken waarin ik geloof als het om het ontwerpen van digitale diensten en producten gaat:</p>
  <ul>
    <li>Elk probleem heeft een simpele oplossing, het vergt vaak tijd en energie om die simpele oplossing te bereiken.</li>
    <li>Onderzoek maakt deel uit van een goed ontwerpproces.</li>
    <li>Toegang tot stakeholders is onderdeel van een goed ontwerpproces.</li>
    <li>Een kleine scope komt het eindproduct ten goede. Een groot project kan dan ook het beste uitgesplitst worden.</li>
    <li>Een lange termijn strategie doet een project meer goed dan een korte termijn strategie.</li>
    <li>Content first, API first, mobile first.</li>
    <li>Hoezeer projecten op elkaar kunnen lijken, een kleine verandering in doelstellingen of randvoorwaarden kan zorgen voor een grote verandering in het eindproduct.</li>
    <li>De <a href="http://sinds82.nl/2014/04/18/de-mcdonalds-theorie/">McDonalds theorie</a> zorgt voor uitkomst als input lastig is.</li>
  </ul>
  <p>Elk project is weer anders en aanpassingen op het proces kunnen plaatsvinden indien de behoefte er is. Tijdens mijn studie heb ik onderzoek gedaan naar het ontwerpen en bouwen van internetapplicaties. Mede door dit onderzoek is mijn huidige ontwerpaanpak ontstaan. Lees hier meer over in mijn scriptie <a href="http://static.digitalenergy.nl/scriptie-reinier-ladan_rias-ontwerpen.pdf">RIA's ontwerpen (afstudeerscriptie Reinier Ladan, 2008)</a>. Globaal ziet mijn ontwerpproces er als volgt uit.</p>
  <ol>
    <li><small><strong>[research]</strong></small> Vaststellen (bedrijfs/gebruikers)doelen, visie, randvoorwaarden en content</li>
    <li><small><strong>[research]</strong></small> Ideeën trechteren, interactie schetsen en beschrijven</li>
    <li><small><strong>[research/design]</strong></small> Flow, informatie achitectuur en interactie-ontwerp uitwerken</li>
    <li><small><strong>[design]</strong></small> Interactief prototype maken en testen</li>
  </ol>
  <p>Indien er gescrumt wordt liggen deze onderdelen heel dicht op elkaar. Ik ben overigens <a href="/scrumskills.html">zeer goed inzetbaar in een scrumproject</a> of een andere agile methodiek. Hoe eerder een prototype / eerste versie is gerealiseerd, des te beter is het voor het vervolgtraject.</p>
  <p>In mijn rol als interactie-ontwerper kies ik vaak de kant van de eindgebruiker. Ik geloof er heilig in dat dat het beste resultaat oplevert. <strong>Is de eindgebruiker blij, dan is de opdrachtgever blij, zo simpel moet en kan een project zijn.</strong></p>

{% endblock %}
