<!DOCTYPE html>
<html lang="nl">
<head>
  <title>Reinier Ladan - Freelance interactie-ontwerper</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../styles/reinierladan.css">
</head>

<body>

  <nav>
    <a href="../">← Ga naar reinierladan.nl</a>
  </nav>

  <section role="main" class="item-page">

    {% block content %}
      <p>Deze pagina is leeg.</p>
    {% endblock %}

  </section>

  <script src="../js/ga.js"></script>
</body>
</html>
